<div class="container">
     <div class="box-username">
        <%if @error %>
          <div class="alert alert-error"><i class="icon  icon-exclamation-sign"></i> <%=@error%></div>
         <% end %>
         <form method="post" action="/getplayername" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">Your Name</label>
              <div class="controls">
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-user"></i></span>
                  <input class="span2"  type="text" name="name" value="<%= session[:player] %>">
                </div>
               </div><!--/controls-->
            </div><!--/ control group-->
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary btn-large">Let's Go!</button>
              </div>
            </div>
          </form>
     </div><!--/box username-->
</div><!--/container-->
