body{
  background: url('images/table2.jpg') no-repeat center 0px;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
}

html{background: url('images/bg.jpg') repeat;}
body,html{height: 100%;}

.navbar,.navbar-inner{
  background:none;
  box-shadow: none;
  border:none;
}

.navbar .btn{
  margin:20px 0 0 100px;
}

.btn, label, input{
  text-shadow: none !important;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
}

.show{
  display: block !important;
}

.js .box-chips .buttons{
  display:block;
}


/* USERNAME */
.box-username{
  margin: 250px auto 0 auto;
  border-radius: 20px;
  width:500px;
  background:rgba(0,0,0,0.5);
  padding:10px 10px 10px 10px;
  border:5px solid #ccc;
  -webkit-box-shadow: -5px -4px 41px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: -5px -4px 41px 0px rgba(0,0,0,0.8);
  box-shadow: -5px -4px 41px 0px rgba(0,0,0,0.80);
}

.box-username label{color:#fff;text-shadow:0 0 0;font-size:20px;}
.box-username input{font-size:20px;color:#000;}
.box-username form{
  margin:20px 0 0 0;
}

/* GAME START */
.instructions{
  text-align: center;
  margin-top:80px;
}

.instructions h1{
  margin-bottom:30px;
}

.box-game{
  position: relative;
  color:#FFF;
  margin-top:170px;
}

.box-dealer,
.box-player{
  position: relative;
}

.box-dealer{
   margin:0px 200px 20px 0;
}

.box-player{
   margin: 20px 0 40px 0;
   width:100%;
   position: relative;
}

.result-shown .list-cards,
.result-shown .total{
   -webkit-animation: less-opacity 1s 0s forwards;
  -moz-animation:    less-opacity 1s 0s forwards;
  -o-animation:      less-opacity 1s 0s forwards;
  animation:         less-opacity 1s 0s forwards;
}

.total{
  position: absolute;
  left:-20px;
  top:-10px;
  background:rgba(0,0,0,1);
  width:50px;
  height: 40px;
  font-size:30px;
  border-radius: 50px;
  color:#fff;
  text-align: center;
  padding: 10px 0 0 0;
  line-height: 30px;
  z-index: 1000;
}

.box-dealer .total{
  left:auto;
  right:-10px;
}

.list-cards {
  list-style: none;
  clear:both;
  float:right;
  margin:0;
  padding:0;
}

.list-cards li{
  float: left;
  margin: 0 0 0 -10px;
  padding:0;
  position: relative;
}

.box-player .list-cards{
  float:none;
}

.box-player .list-cards li{
  border:3px solid #ab6d91;
  border-radius: 10px;
  padding:10px;
  margin: 0 0 0 20px;
  float:left;
}

.box-player .list-cards li:first-child{
  margin-left:0;
}

.card{
  background:url('images/cards.png') no-repeat top left;
  float:left;
  width:104px;
  height: 151px;
  display: block;
  text-indent: -999px;
  overflow: hidden;
  box-shadow: 3px -5px 30px 3px rgba(0,0,0,0.6);
}

#blank-card{
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
}

.card-ad {background-position: 0 -151px;}
.card-kd {background-position: -104px -151px;}
.card-qd {background-position: -208px -151px;}
.card-jd {background-position: -312px -151px;}
.card-10d{background-position: -416px -151px;}
.card-9d {background-position: -520px -151px;}
.card-8d {background-position: -624px -151px;}
.card-7d {background-position: -728px -151px;}
.card-6d {background-position: -832px -151px;}
.card-5d {background-position: -936px -151px;}
.card-4d {background-position: -1040px -151px;}
.card-3d {background-position: -1144px -151px;}
.card-2d {background-position: -1248px -151px;}

.card-ac {background-position: 0 -302px;}
.card-kc {background-position: -104px -302px;}
.card-qc {background-position: -208px -302px;}
.card-jc {background-position: -312px -302px;}
.card-10c{background-position: -416px -302px;}
.card-9c {background-position: -520px -302px;}
.card-8c {background-position: -624px -302px;}
.card-7c {background-position: -728px -302px;}
.card-6c {background-position: -832px -302px;}
.card-5c {background-position: -936px -302px;}
.card-4c {background-position: -1040px -302px;}
.card-3c {background-position: -1144px -302px;}
.card-2c {background-position: -1248px -302px;}

.card-ah {background-position: 0 -453px;}
.card-kh {background-position: -104px -453px;}
.card-qh {background-position: -208px -453px;}
.card-jh {background-position: -312px -453px;}
.card-10h{background-position: -416px -453px;}
.card-9h {background-position: -520px -453px;}
.card-8h {background-position: -624px -453px;}
.card-7h {background-position: -728px -453px;}
.card-6h {background-position: -832px -453px;}
.card-5h {background-position: -936px -453px;}
.card-4h {background-position: -1040px -453px;}
.card-3h {background-position: -1144px -453px;}
.card-2h {background-position: -1248px -453px;}

.card-as {background-position: 0 -604px;}
.card-ks {background-position: -104px -604px;}
.card-qs {background-position: -208px -604px;}
.card-js {background-position: -312px -604px;}
.card-10s{background-position: -416px -604px;}
.card-9s {background-position: -520px -604px;}
.card-8s {background-position: -624px -604px;}
.card-7s {background-position: -728px -604px;}
.card-6s {background-position: -832px -604px;}
.card-5s {background-position: -936px -604px;}
.card-4s {background-position: -1040px -604px;}
.card-3s {background-position: -1144px -604px;}
.card-2s {background-position: -1248px -604px;}

.box-result{
  position: absolute;
  top:10px;
  left:0;
  z-index: 100;
  width:100%;
  text-align: center;
}

.text-result{
  background:url('images/assets.png') no-repeat top left;
  display: block;
  text-indent: -9999px;
  height:126px;
  margin:0 auto;
  margin:0 auto;
  -webkit-animation: blink-visible 3s  forwards;
  -moz-animation:    blink-visible 3s  forwards;
  -o-animation:      blink-visible 3s  forwards;
  animation:         blink-visible 3s  forwards;
}

.text-blackjack{
  width:372px;
  background-position:  0px 0px;
}

.text-surrender{
  width:420px;
  background-position:  0px -200px;
}

.text-player{
  width:420px;
  background-position:  0px -400px;
}

.text-push{
  width:230px;
  background-position:  0px -600px;
}

.text-bust{
  background-position:  0px -800px;
  width:225px;
}

.text-dealer{
  width:440px;
  background-position:  0px -1000px;
}


@-webkit-keyframes less-opacity {
  0%        { opacity: 1; }
  96%, 100% {opacity:0.3; }
}
@-webkit-keyframes less-opacity {
  0%        { opacity: 1; }
  96%, 100% {opacity:0.3; }
}
@-moz-keyframes less-opacity {
  0%        { opacity: 1; }
  96%, 100% {opacity:0.3; }
}
@-o-keyframes less-opacity {
  0%        { opacity: 1; }
  96%, 100% {opacity:0.3; }
}
@keyframes less-opacity{
  0%        { opacity: 1; }
  96%, 100% {opacity:0.3; }
}

@-webkit-keyframes blink-visible {
  0%         { opacity: 0; }
  96%, 100% { opacity:1; }
}

@-webkit-keyframes blink-visible {
  0%        { opacity: 0; }
  96%, 100% { opacity: 1; }
}
@-moz-keyframes blink-visible {
  0%        { opacity: 0; }
  96%, 100% { opacity: 1; }
}
@-o-keyframes blink-visible {
  0%        { opacity: 0; }
  96%, 100% { opacity: 1; }
}
@keyframes blink-visible{
  0%        { opacity: 0; }
  96%, 100% { opacity: 1; }
}

/* fOOTER AREA - balance, bet, actions, gameover */

.box-balance{
  position: absolute;
  bottom:0;
  width:100%;
  height:100px;
  padding:15px 0;
  color:#FFF;
  font-size:30px;
  background:rgba(0,0,0,0.8);
}

.box-balance .container{
  position: relative;
}

.box-balance .balance,
.box-balance .bet{
  width: 300px;
  border-radius: 30px;
  padding:10px 20px;
  background:#000;
  text-align: right;
  margin: 0 0 10px 0;
  height:20px;
  display: block;
  position: relative;
  border:3px solid rgba(255,255,255,0.5);
}

.box-balance .money{
  float:right;
}

.box-balance  span{
  display: block;
  position: absolute;
  left:20px;
  font-size:14px;
  top:10px;
  color:#9da842;
  text-transform: uppercase;
}

.box-balance  .bet span{
  color:#a10a24;
}

.box-balance  .box-actions{
  position:absolute;
  left:0;
  top:0;
  width:70%;
}

.box-balance  .box-actions input{
  float:left;
  margin-right:5px;
}

.btn-move{
  display:block;
  width:135px !important;
  height: 61px;
  text-indent: -999px;
  overflow: hidden;
  cursor: pointer;
  outline: 0;
  margin: 0 0 10px 0;
  border:none;
  float:left;
  background:url('images/assets.png') no-repeat 0 -1400px;
}

.btn-move-hit:hover{background-position: 0px -1461px;}
.btn-move-stay {background-position: -200px -1400px;}
.btn-move-stay:hover{background-position: -200px -1461px;}
.btn-move-surrender {background-position: 0px -1600px;}
.btn-move-surrender:hover {background-position: 0px -1661px;}
.btn-move-dd {background-position: -200px -1600px;}
.btn-move-dd:hover {background-position: -200px -1661px;}

.box-balance p{
  margin:0;
}

.box-chips{
  position: absolute;
  left:0;
  top:30px;
}

.js .box-chips{
  top:-40px;
}

.box-chips .tutorial{
  position: absolute;
  top:-50px;
  left:0;
  width:110%;
  opacity: 0.8;
  font-size:17px;
}

.list-bets li{
  float:right;
  margin-right:10px;
  list-style: none;
}

.list-bets a{
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width:70px;
  height: 74px;
  float:left;
  background-image:url('images/assets.png');
}

.list-bets a:hover{
  margin-top:-5px;
}

.chip-10{background-position: 0 -1200px;}
.chip-20{background-position: -100px -1200px;}
.chip-50{background-position: -200px -1200px;}
.chip-100{background-position: -300px -1200px;}

.list-bets a.disable{
  opacity: 0.5;
}

.list-bets a.disable:hover{
  margin-top:0;
}

.box-chips .buttons{
  margin-left:20px;
}

.box-chips .buttons button{
  width:150px;
}

.box-gameover{
  display:none;
  width:400px;
  float:left;
  margin-top:-15px;
  text-align: center;
}

.box-gameover p{
  font-size:20px;
  margin:10px 0;
}

